/* RGB color palette*/
/*
$color1: rgba(234, 240, 206, 1);
$color2: rgba(192, 197, 193, 1);
$color3: rgba(125, 132, 145, 1);
$color4: rgba(87, 75, 96, 1);
$color5: rgba(63, 51, 77, 1);
*/

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Fahkwang', sans-serif;
font-family: 'Cookie', cursive;
*/


html {
    background-color:rgba(87, 75, 96, 1);
    font-family: 'Fahkwang', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 530px;
    border: 0;
}

a:hover{
    background: rgba(234, 240, 206, 1);
}

a:active{
    color:  rgba(87, 75, 96, 1);
}
div.wrapper {
    background-color:rgba(125, 132, 145, 1);
    background-size: auto;
    overflow:auto;
    max-height: 100%;
    
}

h1>a {
    text-decoration: none;
    color:#000;
    }
    
h2 {
    font-size: 2em;
    }

.subheader{
    color: rgba(192, 197, 193, 1);
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 1.2em;
}

.logo {
    color:rgba(63, 51, 77, 1);
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

.links{
    padding: 20px;
    margin: 20px;
}

/*WEB Cam Page*/

.content {
    height: 0;
    margin-right: 10px;
    padding-right: 100px;
}


/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
}

/*INDEX PAGE SYTLES*/
#index {
    color: rgba(234, 240, 206, 1);
    font-family:'Cookie', cursive;
    font-weight: normal;
    font-size: 5em;
    text-align: center;
   
}

.subtitle{
    text-align: center;
    color:  rgba(234, 240, 206, 1);
}

.mytitle{
    text-align: center;
    color: rgba(63, 51, 77, 1);
    padding-bottom: 200px;
}



/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1024px) {
	
   div.wrapper {
		width:80%;
		margin:auto;
	}

    section {
		width:65%;
		float:left;
	}
	
     aside {	
		width:34%;
		float:right;
	}
			
	
    img.desktop {
      		 float:left;
       		width:100%;
   	 }
    
    img.tablet, img.phone  {
       		 display:none;
    	} 
    

    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color: #d8b8e0;
        		color:#000;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:768px) {
	
	section {
		width:60%;
		float:left;
	}
	
	aside {	
		width:39%;
		float:right;
	}
	
    img.tablet {
       	width:100%;
        display: inline-block;
    }
           
    
    img.phone {
        display: none;
    }
    
    img.desktop {
        		display:none;
           } 
    
    /* Change background color of navigation on selected page */
           ul.topnav li a.selected {
        		background-color: #d8b8e0;
        		color:#000;
    }
          
}


/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       	width:100%;
        display: inline-block;
    }
    
    img.tablet {
        display: none;
    } 
    
    img.desktop {
        		display:none;
    }  

}    